body{
    background:linear-gradient(135deg, rgb(244, 211, 1),rgb(6, 213, 207));
    margin:0;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 100vh;
}

form{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 450px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px rgb(196, 12, 43);
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

}

input{
    border-radius: 5px;
    width:95%;
    padding:10px;
    margin-top: 10px;
    border: 2px solid grey;
}

.b{
    border-radius: 5px;
    width:100%;
    padding:10px;
    margin-top: 10px;
    border: 2px solid grey;
}

textarea{
    border-radius: 5px;
    width:95%;
    padding:10px;
    margin-top: 10px;
    border: 2px solid grey;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: grey;
}

button{
    width:98%;
    height:40px;
    border-radius: 5px;
    background-color: rgb(127, 127, 235);
    color: white;
    border: blue;

}